/* Conhecimentos */
#knowledges {
  padding-top: 150px;
}

#knowledges h2 {
  margin-bottom: 100px;
}


.knowledges-grid {
  width: 100%;
  padding: 0 100px;
  display: grid;
  grid-template: "certificate education";
}

.knowledges-grid-item {
  min-height: 200px;
  /* background: var(--green-2); */
}

.certificate {
  grid-area: certificate;
}

.education {
  grid-area: education;
}

.knowledges-grid-item {
  padding: 50px;

  color: var(--blue-1);
}

.knowledges-grid-item h3 {
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}

.knowledges-grid-item ul {
  margin-top: 40px;
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.knowledges-grid-item li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  list-style-type: none;
}

.knowledges-grid-item li img {
  width: 84px;
  height: 84px; 

  opacity: 0.8;
}

.knowledges-grid-item .content {
  padding: 10px 0;
}

.knowledges-grid-item .title {
  font-weight: 500;
  font-size: 20px;
}

.knowledges-grid-item a {
  color: var(--blue-1);
  text-decoration: underline;
}

.knowledges-grid-item p {
  color: var(--blue-1);
  font-weight: 300;
  margin-top: 5px;
}

@media (max-width: 880px) {
  #knowledges h2 {
    margin-bottom: 50px;
  }

  .knowledges-grid {
    width: 100%;
    display: grid;
    grid-template: "certificate"
    "education";
  }

  .knowledges-grid-item {
    padding: 50px 20px;
  }

  .knowledges-grid-item ul {
    padding: 0 20px;
  }
}