footer {
    margin-top: 20px;
    padding: 30px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

footer img {
    width: 30px;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    margin-bottom: 5px;
}

footer a {
    color: var(--blue-1);
}