/* Root */
:root {
	--blue-1: #001524;
	--blue-1-opacity-70: #001524B3;
	--green-1: #445D48;
	--green-2: #D6CC99;
	--white-1: #FDE5D4;
	--white-2: #e4e1e7;
	--white-3: #F1EFEF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  border: none;
  outline: none;
}

body {
  background-color: var(--white-2);
  color: var(--blue-1);
  font-family: Ubuntu;
}
