/* Main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    gap: 10px;
  }
  
  main section {
    max-width: 1440px;
  }
  
  #about-me {
    padding: 50px 20px;
    line-height: 24px;
  }