/* Geral */
h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 50px;
}

/* Home */
#home {
  padding: 50px 20px;

  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home span {
  width: 100%;
  max-width: 1240px;
  font-family: Ubuntu;
  font-size: 1em;
  font-weight: 300;
}

#home .name {
  display: block;
  margin-top: 10px;
  font-size: 8em;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
  font-weight: normal;
  color: var(--blue-1-opacity-70);
}

#home .job {
  display: block;
  font-size: 3em;
  font-weight: normal;
  color: var(--blue-1-opacity-70);
}

#home p {
  margin-top: 10px;
}

#home>div {
  margin-top: 50px;
}

@media (max-width: 600px) {
  #home .name {
    font-size: 6em;
  }
}

/* Sobre mim */
#about-me {
  padding: 150px 10px;

  background: var(--green-1);

  color: var(--white-2);
  text-align: center;
}

#about-me p {
  font-weight: 300;
  line-height: 24px;
}


/* Conhecimentos */
#knowledges {
  padding-top: 150px;
}

#knowledges h2 {
  margin-bottom: 100px;
}

.container {
  width: 100%;
  display: grid;
  grid-template: "html-css javascript skills typescript react"
    "item5 item6 item7 item8 item9"
    "item10 item11 item11 item12 item12";
} 

.item {
  min-height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--green-2);

}

.html-css {
  grid-area: html-css;
}

.javascript {
  grid-area: javascript;
  background-color: #363636;
}

.skills {
  grid-area: skills;
}

.typescript {
  grid-area: typescript;
  background-color: #363636;
}

.react {
  background: var(--white-1);
  grid-area: react;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
  background-color: #363636;
}

.item8 {
  grid-area: item8;
}

.item9 {
  grid-area: item9;
}

.item10 {
  grid-area: item10;
}

.item11 {
  grid-area: item11;
  background-color: #363636;
}

.item12 {
  grid-area: item12;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    display: grid;
    grid-template: "skills" 
      "html-css"
      "javascript"
      "typescript"
      "react"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9"
      "item10"
      "item11"
      "item11"
      "item12"
      "item12";
  } 
}