/* Conhecimentos 
 * Usei grid para utilizar melhor o espaço e facilitar na disposição do conteúdo no mobile 
 */

#knowledge {
  padding-top: 150px;
}

#knowledge h2 {
  margin-bottom: 100px;
}

/* Define o grid e a disposição dos elementos do grid */
.knowledge-grid {
  width: 100%;
  padding: 0 100px;
  display: grid;
  grid-template: "certificate education";
}

.knowledge-grid-item {
  min-height: 200px;
}

/* Estilizações dos elementos do grid */
.certificate {
  grid-area: certificate;
}

.education {
  grid-area: education;
}

.knowledge-grid-item {
  padding: 50px;

  color: var(--blue-1);
}

.knowledge-grid-item h3 {
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}

.knowledge-grid-item ul {
  margin-top: 40px;
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.knowledge-grid-item li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  list-style-type: none;
}

.knowledge-grid-item li img {
  width: 84px;
  height: 84px; 
}

.knowledge-grid-item .content {
  padding: 10px 0;
}

.knowledge-grid-item .title {
  font-weight: 500;
  font-size: 20px;
}

.knowledge-grid-item a {
  color: var(--blue-1);
  text-decoration: underline;
}

.knowledge-grid-item p {
  color: var(--blue-1);
  font-weight: 300;
  margin-top: 5px;
}

/* Responsividade, ajuste na disposição e espaçamentos dos grids */
@media (max-width: 880px) {
  #knowledge h2 {
    margin-bottom: 50px;
  }

  .knowledge-grid {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template: "certificate"
    "education";
  }

  .knowledge-grid-item {
    padding: 50px 20px;
  }

  .knowledge-grid-item ul {
    padding: 0 20px;
  }
}